<div class="bg-[#14052b] text-white py-24 mt-[70px]">
  <div class="max-w-6xl mx-auto px-6 text-center">
    <h1
      class="text-4xl md:text-5xl font-extrabold mb-4 tracking-wide drop-shadow-lg text-shadow"
    >
      Contact Us
    </h1>
  </div>
</div>

<style>
  .text-shadow {
    text-shadow: 2px 2px 0 #0debd8;
  }
</style>