---
// props
export interface Props {
  title: string;
  text: string;
}

const { title, text } = Astro.props;
---

<div
  class="bg-[#0debd8] border border-white/10 rounded-2xl p-6 text-center
  drop-shadow-[8px_8px_0_#7836cf]"
>
  <h3 class="text-xl font-bold text-[#290d57] mb-2">{title}</h3>
  <p class="text-[#290d57] text-sm font-bold">{text}</p>
</div>
