<section class="w-full bg-[#0debd8] text-center p-4">
  <p class="text-[#290d57] text-sm md:text-xl font-bold tracking-wide">
    Train harder than yesterday. Your only limit is you.
  </p>
</section>
